@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,800&family=Poppins:ital,wght@0,500;1,400;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root {
    --bgColor: #f0f0f0;
    --purpleNumbers: #874bff;
    --purbleIcon: #874cde;
    --labelColors: #707070;
    --borderColors: #eeeeee;
}

body {
    background-color: var(--bgColor);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    background-color:#FFF;
    width: 95%;
    padding: 2em 1.5em;
    border-radius: 20px 20px 80px 20px;
}

.inputs {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2px 15px;

    > label {
        color: var(--labelColors);
        font-size: 0.8em;
        font-weight: bold;

        > input {
            width: 100%;
            border-radius: 7px;
            padding: 0.5em;
            font-size: 1.2em;
            font-weight: bold;
            border: 2px solid var(--borderColors);
        }

        > input:active {
            border: 2px solid #ce94e6 !important;
        }

        > input:focus {
            border: 2px solid #ce94e6 !important;
        }

        > input:hover {
            border: 2px solid #ce94e6 !important;
        }

        > .error {
            text-align: center;
            color: #FF5555;
            font-size: 0.3rem;
            font-style: italic;
            font-weight:lighter;
            margin: 10px 0;
        }
    }
}




.line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.line > svg {
    width: 65px;
    height: 65px;
    border: 15px solid var(--purbleIcon);
    background-color: var(--purbleIcon);
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.line > hr {
    color: #707070;
    position:absolute;
    border: 1px solid #e9e9e9;
    z-index: 1;
    width: 80%;
}


p {
    font-size: 3.5rem;
    font-weight: bolder;
    font-style: italic;
    line-height: 1.1em;
}

p > span {
    color: var(--purpleNumbers);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2em;
}
.attribution a { color: hsl(228, 45%, 44%); }



@media screen and (min-width: 640px){
    .main {
        background-color:#FFF;
        width: 845px;
        height: 680px;
        padding: 50px 55px;
        border-radius: 20px 20px 25% 20px;
        display: grid;
        grid-template-rows: 25%;
    }

    .inputs {
        width: 100%;
        display: inline-grid;
        grid-template-columns: repeat(4, 23%);
        gap: 30px;

        > label {
            color: var(--labelColors);
            font-size: 0.8em;
            font-weight: bold;

            > input {
                margin-top: 10px;
                width: 11rem;
                height: 4.5rem;
                border-radius: 7px;
                padding: 0.5em;
                font-size: 30px;
                font-weight: bold;
                border: 2px solid var(--borderColors);

            }

            > input:hover {
                border: 2px solid #ce94e6 !important;
            }

            > .error {
                text-align: center;
                color: #FF5555;
                font-size: 0.6rem;
                font-style: italic;
                font-weight:lighter;
                margin: 10px 0;
            }
        }
    }

    .line {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        z-index: 2;
    }

    hr {
        color: #707070;
        position:absolute;
        border: 1px solid #e9e9e9;
        z-index: -1;
        width: 740px;
    }

    svg {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: #874bff;
        border: 1.2rem solid #874bff;
        display: block;
    }



    p {
        font-size: 6.5em;
        font-weight: bolder;
        font-style: italic;
        line-height: 1.1em;
    }

    p > span {
        color: var(--purpleNumbers);
    }
}